.container{
    background-color: aqua;
    background-image: url("https://images.pexels.com/photos/259915/pexels-photo-259915.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    border-radius: 25px;
   justify-content: space-evenly;
   padding: 10px;
   margin-top: 10px;
   margin-bottom: 10px;
   display: flex;
flex-direction: row;
    
}

.hover-rotate {
    overflow: hidden;
    /* margin: 8px; */
    min-width: 240px;
    max-width: 320px;
    width: 100%;
  }
  
  .hover-rotate img {
    transition: all 0.3s;
    box-sizing: border-box;
    max-width: 100%;
  }
  
  .hover-rotate:hover img {
    transform: scale(1.3) rotate(5deg);
  }


  .item-back{
      background-image: url("https://images.pexels.com/photos/949587/pexels-photo-949587.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  }

    .item-back2{
      background-image: url("https://images.pexels.com/photos/235985/pexels-photo-235985.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  }

  .imagebox{
      height: 300px;
      
      width: 300px;
  }